.everythingWrapper {
    font-family: Lexend Deca;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

.content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
    flex-direction: column;
    text-align: center;
}

.pic {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 50%;
    position: absolute;
    z-index: -1;
}

.clock {
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: 80px;
    color: #ffffff;
}

.bookmarkReveal {
    font-size: 40px;
    position: absolute;
    margin-top: 80vh;
    color: #ffffff;
    display: flex
}

.bookmarkReveal:hover {
    opacity: 0;
    transition: 1s;
}

.bookmarkWrapper {
    width: 50vw;
    position: absolute;
    opacity: 0;
    margin-top: 95vh;
    transition: 1s;
}

.bookmarkWrapper:hover {
    position: absolute;
    opacity: 1;
    margin-top: 75vh;
}

.bookmarkContainer {
    display: flex;
    color: #ffffff;
}

.bookmark {
    font-size: 40px;
    border: 3px solid red;
}

.bookmark p {
    color: rgb(0, 136, 255);
}

.bookmark a {
    display: none;
}

.editMenu {
    display: none;
}

.editMenu.open {
    height: 300px;
    width: 300px;
}


